/*** = toolbar ***/

html.edit {
	margin-top: 50px;
}
html.edit .info {
	top: 51px;
}

html.edit #toolbar {
	display: block;
}
#toolbar {
	position: fixed;
	z-index: 1002;
	display: none;
	top: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	box-shadow: 0 8px 10px #888;
	border-bottom: solid 1px #fff;
	background: #333 url(img/logo.png) no-repeat 1% 50%;
}
#toolbar p,
#toolbar a {
	margin-top: 8px;
	margin-bottom: 6px;
	display: inline-block;
	color: #fff;
	line-height: 18px;
	font-size: 18px;
	font-family: Arial;
	border: 0;
}
#toolbar p {
	color: #bbb;
	overflow: visible;
	margin: 6px 15px;
}
#toolbar .current {
	background-color: #8aa249;
	border-radius: 6px;
	text-shadow: 0 1px 0 #000;
}

.icon-email,
.icon-edit,
.icon-view,
.icon-conf {
	padding: 7px 34px 7px 7px;
	margin: 6px 20px;
	background-image: url(img/sprites.gif);
	background-repeat: no-repeat;
}
.event-help {
	float: right;
	background-position: 100% -58px; 
}
.event-edit {
	background-position: 100% -28px; 
}
.event-view {
	background-position: 100% -88px; 
}
.event-logout {
	padding: 2px 3px;
	margin: 6px;
}
.event-panel {
	padding-left: 34px;
	padding-right: 7px;
	background-position: 0 2px; 
}