        {$id=$value.uniq}
        
        <article id="art-{$id}" {if="$value.params.pinned=='true'"}class="pinned"{/if}>

         
        {$add=$value.add_data_url}
        {$edit=$value.edit_data_url}
        {$remove=$value.remove_data_url}
        
        <header>

        {if="isset($config['isLogged'])"}
            <div class="toolbar">
            <a href="#move" class="move">Przesuń</a>
            <a href="{$value.edit_url}" class="edit">Edytuj</a>
            <a href="{$value.remove_url}" class="delete">Usuń</a>
            </div>
        {/if}
        
        
        {if="isset($config['isLogged'])"}
        <a href="{$add}" class="add button">Dodaj punkt</a>
        {/if}
        
        {if="$value.params.simple!='true'"}
            {if="isset($value.title)"}
	 <h2 class="title">{$value.title}</h2>
            {/if}
            <span class="create">Dodany: {$value.date} przez {$value.author}</span>
        {/if}
        
        </header>

        
        {$addjson=$value.add_data_json_url}

        <div class="googlemap"
             data-x="{$value.params.config['hidden:x']['value']}"
             data-y="{$value.params.config['hidden:y']['value']}"
             data-zoom="{$value.params.config['hidden:zoom']['value']}"
             data-type="{$value.params.config['hidden:type']['value']}">
          
          {loop="$value.content"}    
            <div data-id="point-{$id}-{$key}"
	  data-add-json="{$addjson}{$key}"
	  data-remove-url="{$remove}{$key}"
	  data-edit-url="{$edit}{$key}"
	  data-title="{$value.title.value}"
	  data-description="{$value.text.value}"
	  data-icon="{#HOST#}{$value.img.value}"
	  data-x="{$value['hidden:x']['value']}"
	  data-y="{$value['hidden:y']['value']}"></div>
          {/loop}
        </div>
        
        </article>